/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-color: #29996c;
  --main-font-color: #555987;
  --main-danger-color: #f52828;
  --main-warning-color: #ff8a00;
  --main-warning-icon-color: #f39159;
  --main-success-color: #23c987;
}

* {
  box-sizing: border-box;
}
